[Unit]
Description=BIRD Internet Routing Daemon for IPv6
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/bird-ipv6
ExecStart=/usr/sbin/bird-6 -u bird -g bird $BIRD_OPTS
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Alias=bird-6.service
