[Unit]
Description=BIRD Internet Routing Daemon for IPv4
After=network.target

[Service]
Type=forking
Restart=on-failure
EnvironmentFile=/etc/sysconfig/bird-ipv4
ExecStart=/usr/sbin/bird -u bird -g bird $BIRD_OPTS
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Alias=bird.service
